# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "2f60fa135fecd9fbcab930750e5f57d4"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "https://mastiron-miamamma.hf.space/"
